@import '~nib/index'

$gutter = 20px
$color-text = #333333
$color-background = #F5F2ED

$color-gray = #D7D7D7
$color-brown = #7C7474
$color-orange = #EC9134

$easing-quick = cubic-bezier(0.215, 0.61, 0.355, 1)

$sidebar-width = 300px
$article-width = 500px
